@import "tailwindcss";

:root {
  --foreground: #171717;
  --background: #ffffff;
  --primary: #c6dcef;
  --secondary: #242d83;
  --accent: #c4b8f6;
  --card-bg: #f5f5f5;
  --border: #e5e7eb;
  --link-hover: #5fb4ff;
}

.dark {
  --foreground: #ededed;
  --background: #212121;
  --primary: #c6dcef;
  --accent: #c4b8f6;
  --card-bg: #18181b;
  --link: #c6dcef;
  --link-hover: #5fb4ff;
  --link-underline: #c6dcef;
  --link-underline-hover: #c6dcef;
  --link-underline-dark: #c6dcef;
  --link-underline-dark-hover: #c6dcef;
  --link-underline-light: #c6dcef;
  --link-underline-light-hover: #c6dcef;  
}
.dark .dark-border {
  border-color: #5c5c5c !important;
}
@keyframes rainbow-text {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.rainbow-text-hover:hover {
  background: linear-gradient(to right, 
    #ff0000, #ff8000, #ffff00, #00ff80, 
    #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow-text 2s linear infinite;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  h1 {
    font-size: theme("fontSize.4xl");
  }
  
  @media (min-width: theme("screens.md")) {
    h1 {
      font-size: theme("fontSize.5xl");
    }
  }
  
  h2 {
    font-size: theme("fontSize.3xl");
  }
  
  @media (min-width: theme("screens.md")) {
    h2 {
      font-size: theme("fontSize.4xl");
    }
  }
  
  h3 {
    font-size: theme("fontSize.2xl");
  }
  
  @media (min-width: theme("screens.md")) {
    h3 {
      font-size: theme("fontSize.3xl");
    }
  }
  .button:hover {
    background-color: var(--primary);
  }
  .dark .button:hover {
    background-color: var(--border-dark);
  }
  a {
    color: theme("colors.zinc-900");
  }
  
  a:hover {
    text-decoration: underline;
  }
  .dark {
    --header-border: #e5e7eb; /* Keep the same color in dark mode */
  }
  .dark a {
    color: var(--foreground);
  }
  .dark a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .card {
    background-color: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    padding: 1.5rem;
    transition: all 0.2s ease;
  }
  .dark .dark-card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-dark);
  }
}

